#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_div{
  background-color: #ff255c;
  min-width: 400px;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: 7px  7px rgb(64, 64, 64);
}

h1{
  width: 100%;
  background-color: white;
}

input{
  width: 220px;
  padding: 15px;
  font-size: 20px;
  margin-right: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
}


button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  outline: none;
}

button:hover{
  /* background-color: rgb(255, 255, 255); */
  color: aqua;
}

ol{
  display: grid;
  place-items: start;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

ol li{
  list-style-type: none;
  max-width: 300px;
  text-align: start;
}

i{
  color: white;
  margin: 0 10px;
  /* background-color: white; */
  padding: 2px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

i:hover{
  color: aqua;
}